<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light">
      <div
        id="user-role-data"
        th:data-user-role="${loggedInUser != null ? loggedInUser.role.roleName : ''}"
        th:text="${loggedInUser != null ? loggedInUser.role.roleName : ''}"
        style="display: none; position: absolute"
      ></div>
      <div class="container">
        <a class="navbar-brand" th:href="@{/home}">
          <img
            src="https://i.postimg.cc/RFW6cxPr/logo-Full-Stack-GPT.png"
            alt="Full Stack GPT Logo"
            class="rounded-circle"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <!-- Common for ALL -->
            <li
              class="nav-item"
              th:if="${loggedInUser == null or loggedInUser.role.roleName == 'user' or loggedInUser.role.roleName == 'admin'}"
            >
              <a class="nav-link fw-bold" th:href="@{/home}">Trang chủ</a>
            </li>
            <li
              class="nav-item"
              th:if="${loggedInUser == null or loggedInUser.role.roleName == 'user' or loggedInUser.role.roleName == 'admin'}"
            >
              <a class="nav-link fw-bold" th:href="@{/articles}">Bài viết</a>
            </li>
            <li
              class="nav-item"
              th:if="${loggedInUser == null or loggedInUser.role.roleName == 'user' or loggedInUser.role.roleName == 'admin'}"
            >
              <a class="nav-link fw-bold" th:href="@{/popular-doctors}"
                >Bác sĩ nổi bật</a
              >
            </li>
            <li
              class="nav-item"
              th:if="${loggedInUser == null or loggedInUser.role.roleName == 'user'}"
            >
              <a class="nav-link fw-bold" th:href="@{/chill-mode}">Thư giãn</a>
            </li>

            <!-- User-only -->
            <li
              class="nav-item"
              th:if="${loggedInUser != null && loggedInUser.role.roleName == 'user'}"
            >
              <a class="nav-link fw-bold" th:href="@{/chatbot}">Chatbot</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
